/*noinspection CssRedundantUnit*/
body {
    background-color: #292D3E;
    color: #A6ACCD;
    transition: background .5s;
    margin: 0px;
}

button {
    background-color: #2E3C43;
    color: #FFFFFF;
    border-radius: 4px;
    border: 1px solid #515772;
    text-align: center;
    text-decoration: none;
    outline: none;
}

.header {
    font-weight: bold;
    font-family: Georgia, serif;
}

.header2 {
    font-weight: normal;
}

.header, .header2 {
    color: #9e7b9b;
}

a {
    color: #f07178;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.wrap {
    color: #ff9d80;
    padding: 5px;
    display: inline;
    font-family: Consolas, monospace;
    border-collapse: collapse;
    border: 1px solid #515772;
    text-align: center;
    margin: 5px;
}

hr {
    border: 1px solid #515772;
    vertical-align: center;
}

.info {
    padding-left: 30px;
    text-align: left;
}

.titles {
    width: 25%;
    text-align: right;
    vertical-align: top;
}

table.contain {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    alignment: left;
    margin-top: 40px;
}

td, th {
    text-align: left;
    padding: 3px;
}

td.tab, th.tab {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid #515772;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

li {
    float: left;
}

li a {
    display: block;
    /*color: #A6ACCD;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: fit-content;
}

li a:hover {
    background-color: #444267;
    /*background-color: #111;*/
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #292D3E;
    border-bottom: 1px solid #515772;
}