/*noinspection CssRedundantUnit,CssUnknownTarget*/
@media screen and (max-device-width: 481px) {
    .wrap {
        border: none;
    }
    body {
        padding-top: 0px;
    }
}

body.light {
    --PageBgColour: #F0F0F0;
    --PageTextColour: #403f53;

    --ButtonBgColour: initial;
    --ButtonTextColour: initial;

    --Header12Colour: #3b615d;

    --NavbarBgColour: white;
    --NavbarBorderBottom: 1px solid lightslategray;

    --AColour: #3e66b8;

    --UlBgColour: #333;

    --LiAColour: white;
    --LiAHoverBgColour: #111;

    --WrapBorder: 1px solid lightgray;
    --WrapColour: #1b6963;

    --HrBorder: 1px solid #0099ff;

    --TdTabThTabBorder: 1px solid lightgray;
}

body.dark {
    /*body set*/
    --BodyBgColour: #292D3E;
    --BodyTextColour: #A6ACCD;
    /*button set*/
    --ButtonBgColour: #2E3C43;
    --ButtonTextColour: #FFFFFF;
    --ButtonBorder: 1px solid #515772;
    /*headers set*/
    --Header12Colour: #9e7b9b;
    /*navbar set*/
    --NavbarBgColour: #292D3E;
    --NavbarBorderBottom: 1px solid #515772;
    /*a set*/
    --AColour: #f07178;
    /*ul set*/
    --UlBgColour: #292D3E;
    /*li a set*/
    --LiAColour: #f07178;
    --LiAHoverBgColour: #444267;
    /*wrap set*/
    --WrapBorder: 1px solid #515772;
    --WrapColour: #ff9d80;
    /*hr set*/
    --HrBorder: 1px solid #515772;
    /*table set*/
    --TdTabThTabBorder: 1px solid #515772;
}


html {
    scroll-behavior: smooth;
}

body {
    padding-top: 44px;
    background-color: var(--BodyBgColour);
    color: var(--BodyTextColour);
    transition: background .5s;
    margin: 0;
    overflow: scroll;
    height: 100%;
    /*padding-top: 3em;*/
}
.full {
    background-color: var(--BodyBgColour);
    color: var(--BodyTextColour);
    transition: background .5s;
    margin: 0;
    width: 100%;
    height: 100%;
}

.header, .header2 {
    color: var(--Header12Colour);
}

.header {
    font-weight: bold;
    font-family: 'Roboto', serif;
}

.header2 {
    font-weight: normal;
}

.info {
    padding-left: 30px;
    text-align: left;
}

.titles {
    width: 25%;
    text-align: right;
    vertical-align: top;
}

.wrap {
    border: var(--WrapBorder);
    color: var(--WrapColour);
    padding: 4px;
    display: inline;
    font-family: Consolas, monospace;
    border-collapse: collapse;
    text-align: center;
    margin: 5px;
}

.navbar {
    background-color: var(--NavbarBgColour);
    border-bottom: var(--NavbarBorderBottom);
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    height: auto;
}

ul {
    background-color: var(--UlBgColour);
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    color: var(--LiAColour);
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: fit-content;
}
li a:hover{
    background-color: var(--LiAHoverBgColour);
}

button {
    background-color: var(--ButtonBgColour);
    color: var(--ButtonTextColour);
    border: var(--ButtonBorder);
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    outline: none;
}

a {
    color: var(--AColour);
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

hr {
    border: var(--HrBorder);
    vertical-align: center;
}

table.contain {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    alignment: left;
    margin-top: 40px;
}

td, th {
    text-align: left;
    padding: 3px;
}

td.tab, th.tab {
    border: var(--TdTabThTabBorder);
    font-family: arial, sans-serif;
    border-collapse: collapse;
    text-align: center;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: inherit;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}