/*noinspection CssRedundantUnit,CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@media screen and (max-width: 481px){
    .wrap {
        border: none;
    }
}
body {
    background: white;
    color: #403f53;
    transition: background .5s;
    margin: 0px;
}

a {
    color: #3e66b8;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: fit-content;

}
li a:hover {
    /*background-color: #444267;*/
    background-color: #111;
}

table.contain {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    alignment: left;
    margin-top: 40px;
}

.wrap {
    padding: 5px;
    display: inline;
    font-family: Consolas, monospace;
    border-collapse: collapse;
    border: 1px solid lightgray;
    text-align: center;
    margin: 5px;
    color: #23877f;
}

td.tab, th.tab {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: 1px solid lightgray;
    text-align: center;
}

td, th {
    /*border: 1px solid #dddddd;*/
    text-align: left;
    padding: 3px;
}

.titles {
    width: 25%;
    text-align: right;
    vertical-align: top;
}

.info {
    padding-left: 30px;
    text-align: left;
    /*vertical-align: top;*/
}

.header {
    font-weight: bold;
    font-family: "Roboto", serif;
}

.header2 {
    font-weight: normal;
}

.header, .header2 {
    color: #21524e;
}

hr {
    color: #0099ff;
    vertical-align: center;
}

.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid lightslategray;
    height: auto;
}